.App {
  text-align: center;
}

/*
body {
  background: #442C8B;
  color: #DCAE27;
  height: 100%;
}
*/

.interface {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*
a {
  color: #DCAE27;
}
*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #442C8B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pfp {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.dev-image {
  height: 200px;
  width: 200px;
}

.dev {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.developer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/*
header {
  background-color: #DCAE27 !important;
  color: #442C8B !important;
}
*/
/*
div {
  display: flex;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
}
*/
